@model WebAuthentication.Models.GeneralCipherModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using (Html.BeginForm("VigenereResult", "VigenereCipher", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Vigenere Cipher</th>
        </tr>
        <tr>
            <td>Key: </td>
            <td>
                @Html.TextBoxFor(m => m.Key)
            </td>
        </tr>
        <tr>
            <td>PlainText: </td>
            <td>
                @Html.TextBoxFor(m => m.PlainText)
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
}