@model WebAuthentication.Models.GeneralCipherModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Vigenere Cipher CipherText: @Model.CipherText</h2>
<h2>Vigenere Cipher CipherText Decrypted: @Model.PlainText</h2>
